/********
colors
green - #6c8555
light blue - #679dbf
dark blue - #28475a
purple - #764c88
peach - #fed9bc
**********/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    padding: 0;
}

h1 {
    font-family: 'Kristi', cursive;
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: #28475a;
    margin: 0;
    background-color: #ffffff;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #28475a;
}


h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    color: #28475a;
}

nav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    color: #28475a;
    background-color: #ffffff;
    margin-bottom: 3%;
}

ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 48%;
    padding: 2%;
    text-align: center;
}

a {
    color: #28475a;
    text-decoration: none;
}

a:hover,
a:visited,
a:active {
    color: #28475a;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #28475a;
}

button {
    margin: 5%;
    padding: 2%;
    background-color: #679dbf;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

button:hover {
    border: #679dbf solid 3px;
    color: #679dbf;
    background-color: #ffffff;
}

button:active {
    background-color: #fed9bc;
}

#link {
    color: #6c8555;
}

#link:hover {
    color: #764c88;
}

#link:visited {
    color: #6c8555;
}

#logo {
    text-align: center;
}

#logo img {
    width: 80%;
    background-color: #ffffff;
    border: 5px solid #fed9bc;
}

#roots {
    background-color: #ffffff;
    margin-top: 2%;
    text-align: center;
}

#roots p {
    padding: 2%;
}

#roots h2 {
    margin: 0;
}
